body {
    background-image:url("wp9223505-abstract-black-4k-wallpapers.jpg") ; text-align: justify;
    color: white;
}
body {
    margin: 0%;
}
* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
